* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0 2vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav > div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
nav > div > img {
  width: 36px;
  height: 36px;
}
nav > div > h1 {
  font-size: 36px;
  color: #000000;
}
nav > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav > ul > li {
  font-size: 20px;
  cursor: pointer;
}
nav > ul > li > a {
  text-decoration: none;
  color: #000000;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > ul > li > button {
  padding: 20px 35px;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
}
/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80vh;
}
.hero-top {
  display: flex;
  height: 70%;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.hero-part1 {
  height: 100%;
  width: 40%;
}

.hero-part1 > h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 100px;
}

.hero-part1 > p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  line-height: 25px;
}
.hero-part1 > button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
}
.hero-part2 {
  height: 100%;
  width: 50%;
}

.hero-part2 > img {
  width: 100%;
  height: 100%;
}

.hero-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-bottom > img {
  height: 30px;
  filter: grayscale(100%);
  width: 100px;
}
