* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
:root {
  --primary-color: #b9ff66;
  --secondary-color: #000000;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0 2vw;
}
h1 {
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
nav > div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
nav > div > img {
  width: 36px;
  height: 36px;
}
nav > div > h1 {
  font-size: 36px;
  color: var(--secondary-color);
}
nav > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav > ul > li {
  font-size: 20px;
  cursor: pointer;
}
nav > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > ul > li > button {
  padding: 20px 35px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  border-radius: 14px;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70vh;
}
.hero-top {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-part1 {
  height: 100%;
  width: 50%;
}

.hero-part1 > h1 {
  font-size: 60px;
  line-height: 100px;
}

.hero-part1 > p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  line-height: 25px;
}
.hero-part1 > button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
}
.hero-part2 {
  height: 100%;
  width: 50%;
}

.hero-part2 > img {
  width: 100%;
  height: 100%;
}

.companies-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.companies-logo > img {
  height: 40px;
  filter: grayscale(100%);
  width: 100px;
}

.Services {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.heading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.heading > h1 {
  background-color: var(--primary-color);
  padding: 0 7px;
  border-radius: 7px;
}
.heading > p {
  font-size: 18px;
  width: 50%;
  line-height: 25px;
}
.cards {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  margin-top: 10vh;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
  height: 100%;
  border-radius: 45px;
  background-color: var(--primary-color);
}
.card > .card-part1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 60%;
}
.card > .card-part2 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.card > .card-part2 > img {
  height: 100%;
  width: 90%;
}

.card1 {
  background-color: #f3f3f3;
}
.card1 > .card-part1 > div > h1 {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.card > .card-part1 > h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card1 > .card-part1 > h4 > svg {
  background-color: #000000;
  color: var(--primary-color);
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.card2 {
  background-color: var(--primary-color);
}
.card2 > .card-part1 > div > h1 {
  width: fit-content;
  background-color: #ffffff;
  padding: 0 7px;
  border-radius: 7px;
}
.card2 > .card-part1 > h4 > svg {
  background-color: #000000;
  color: var(--primary-color);
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.card3 {
  background-color: #000000;
}
.card3 > .card-part1 > div > h1 {
  background-color: #ffff;
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.card3 > .card-part1 > h4 {
  color: #fff;
}
.card3 > .card-part1 > h4 > svg {
  background-color: #ffffff;
  color: #000000;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.card4 {
  background-color: #f3f3f3;
}
.card4 > .card-part1 > div > h1 {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.card4 > .card-part1 > h4 > svg {
  background-color: #000000;
  color: var(--primary-color);
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.card5 {
  background-color: var(--primary-color);
}
.card5 > .card-part1 > div > h1 {
  background-color: #ffffff;
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.card5 > .card-part1 > h4 > svg {
  background-color: #000000;
  color: var(--primary-color);
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.card6 {
  background-color: #000000;
}
.card6 > .card-part1 > div > h1 {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0 7px;
  border-radius: 7px;
}
.card6 > .card-part1 > h4 {
  color: #fff;
}
.card6 > .card-part1 > h4 > svg {
  background-color: #ffffff;
  color: #000000;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.CTA {
  width: 100%;
  height: 35vh;
  background-color: #f3f3f3;
  margin-top: 10vh;
  border-radius: 45px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CTA > .cta-left {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2vh;
}
.CTA > .cta-left > button {
  padding: 20px 35px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 14px;
  cursor: pointer;
}
.CTA > .cta-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CTA > .cta-right > img {
  height: 120%;
}

.case-studies {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}
.cases {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  border: #000000 1px solid;
  padding: 70px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  border-radius: 45px;
}
.cases > hr {
  height: 100%;
  rotate: 90deg;
  width: 50%;
}
.case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.case > h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  gap: 10px;
}
.case > h4 > svg {
  width: 3vw;
}

.work-process {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}

.processes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 0.5fr);
  gap: 20px;
  margin-top: 10vh;
}
.process {
  padding: 41px 60px;
  background-color: var(--primary-color);
  border-radius: 45px;
  border: #000000 solid 1px;
  box-shadow: #000000 0 4px 0 0;
}
.process > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.process > div > div > h1 {
  font-size: 7.5vh;
}
.process > div > div > h2 {
  font-size: 3vh;
}
.process > div > svg {
  border-radius: 50%;
  border: #000000 1px solid;
  width: 45px;
  background-color: #f3f3f3;
}
.process > hr {
  margin: 2vh 0;
  border: solid black 1px;
  background-color: #000000;
}
.process > p {
  width: 95%;
}
.process1 {
  padding: 31px 50px;
  background-color: #f3f3f3;
  border-radius: 45px;
  border: #000000 solid 1px;
  box-shadow: #000000 0 4px 0 0;
}
.process1 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process1 > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.process1 > div > div > h1 {
  font-size: 7.5vh;
}
.process1 > div > div > h2 {
  font-size: 3vh;
}
.process1 > div > svg {
  border-radius: 50%;
  border: #000000 1px solid;
  width: 45px;
  background-color: #f3f3f3;
}
.team {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}
.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10vh;
}
.member {
  padding: 40px 35px;
  border: #000000 2px solid;
  border-radius: 45px;
}
.member > div {
  display: flex;
  justify-content: flex-start;
  align-items: last baseline;
  position: relative;
  gap: 1vw;
}
.member > div > img {
  width: 30%;
}
.member > div > div > h1 {
  font-size: 1.5vw;
  font-weight: 700;
}
.member > div > svg {
  position: absolute;
  width: 2vw;
  padding: 4px;
  top: 0;
  right: 0;
  background-color: #000000;
  color: var(--primary-color);
  border-radius: 50%;
}
.member > hr {
  margin: 2vh 0;
  border: #000000 solid 1px;
}
.member > p {
  width: 90%;
}
.team > span {
  width: 100%;
  display: flex;
  justify-content: end;
}
.team > span > button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 15px 50px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5vh;
}
